<div>
  <div class="center">
    <input matInput id="nota-input" type="text" [(ngModel)]="nota.nota"/>
    <input matInput id="percentage-input" type="text" [(ngModel)]="nota.porcentaje"/>
    <button mat-raised-button color="primary" (click)="createNota()" id="send">Agregar</button>
  </div>
  <div class="center">
    <mat-list class="list" *ngFor="let nota of notas" [value]="nota">
      <mat-list-item ><div class="note">{{nota.nota}}</div></mat-list-item>
    </mat-list>
  </div>
  <div class="center">
    <button mat-raised-button color="primary" (click)="getAverage()" id="average">Calcular Promedio</button>
  </div>
  <div class="center">
    Promedio: <span id="calc-average">{{promedio || '--'}}</span>
  </div>
</div>
